.features {
  padding: 40px 0;

  overflow-x: hidden;

  &__top {
    display: grid;
    grid-template-columns: max-content 156px;
    justify-content: space-between;

    margin-bottom: 32px;

    align-items: end;
  }

  &__title {
    color: $page-purple-color;

    @include onDesktop {
      line-height: 50px;
    }
  }

  &__swiper {
    width: max-content;
    margin: 0 auto;

    pointer-events: none;

    @include onDesktop {
      width: 100%;

      pointer-events: all;

      overflow: hidden;
    }
  }

  &__container-arrow {
    display: none;
    position: relative;

    @include onDesktop {
      display: block;
    }
  }

  &__swiper-button {
    right: 0;
    width: 42px;
    height: 24px;

    @include onDesktop {
      &:hover {
        transform: scale(1.2);
      }
    }

    &-prev {
      background-image: url('../images/btn-prev-active.svg');

      &.swiper-button-disabled {
        background-image: url('../images/btn-prev-disable.svg');
        opacity: 1;
      }
    }

    &-next {
      background-image: url('../images/btn-next-active.svg');

      &.swiper-button-disabled {
        background-image: url('../images/btn-next-disable.svg');
        opacity: 1;
      }
    }
  }

  &__card {
    width: 288px;
    height: 362px;

    @include onDesktop {
      height: 476px;

      object-fit: contain;
    }
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}


