.nav {
  border-bottom: 1px solid $page-purple-color;

  &--in-menu {
    border: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-block: 8px;

    &--in-menu {
      justify-content: flex-end
    }
  }

  &__logo {
    @include figure(40px);
  }

  &__button {
    padding: 10px 5px;
    @include figure(40px);
    
  }

  &__burger-menu {
    width: 30px;
    height: 20px;
  }
  

  &__links {
    display: none;
  }
}