.header {
  display: grid;
  grid-template-rows: max-content;

  padding-bottom: 45px;

  color: #fff;

  min-height: 100vh;

  background-image: url('../images/header-bg-mob.avif');
  background-size: cover;

  @include onDesktop {
    min-height: 800px;
    background-image: url('../images/header-bg.avif');
  }

  &--pt {
    min-height: auto;

    background-image: none;
  }

  &__wrapper {
    height: 100%;
  }

  &__nav {
    margin-bottom: 225px;

    @include onDesktop {
      margin-bottom: 115px;
    }
  }

  &__content {
    justify-self: center;

    @include onDesktop {
      justify-self: start;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;

    @include onDesktop {
      align-items: flex-start;
    }
  }

  &__text {
    @include onDesktop {
      max-width: 636px;

      margin: 190px 0 40px;
    }
  }

  &__title {
    margin-bottom: 15px;
    text-shadow: 
    3px 3px 0 $page-purple-color, 
    -3px -3px 0 $page-purple-color,
    3px -3px 0 $page-purple-color,
    -3px 3px 0 $page-purple-color,
    3px 0 0 $page-purple-color,
    -3px 0 0 $page-purple-color,
    0 3px 0 $page-purple-color,
    0 -3px 0 $page-purple-color;
  }

  &__t2 {
    @include onDesktop {
      font-size: 24px;
      line-height: 32px;

      max-width: 480px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}