.nav {
  border-bottom: 1px solid $page-purple-color;

  @include onDesktop {
    position: fixed;
    left: 0;
    right: 0;

    z-index: 11;
  }

  &--scrolled {
    background-color: rgba(0, 0, 0, 0.8);
  }

  &--grey {
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
  }

  &--in-menu {
    display: grid;
    grid-template-rows: max-content 1fr;

    height: 100%;
    padding: 8px 30px 0;
    border: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-block: 8px;

    &--in-menu {
      flex-direction: column
    }

    @include onDesktop {
      padding-block: 20px;
    }
  }

  &__logo {
    @include figure(40px);
  }

  &__close-button {
    @include figure(40px);
    
  }

  &__button {
    @include figure(40px);
    padding: 10px 5px;

    &--close {
      padding: 8px;
      justify-self: flex-end;
    }

    @include onDesktop {
      display: none;
    }
  }

  &__burger-menu {
    width: 30px;
    height: 20px;
  }

  &__links {
    display: none;

    &--in-menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px;

      height: 100%;
    }

    @include onDesktop {
      display: flex;
      align-items: center;
    }
  }

  &__t2 {
    font-size: 16px;
    line-height: 22px;
    padding: 4px 8px;
    font-weight: bold;

    @include onDesktop {
      &:hover {
        color: $page-light-blue-color;
        text-shadow: 0 0 20px 0 #98DAFE;
      }
    }
  }
}