$page-purple-color: #A92CB9;
$page-dark-purple-color: #3D2B76;
$page-light-blue-color: #A1E4FF;
$page-blue-green-color: #1E485E;
$page-gray-color:#505050;
$page-black-color: #121212;

$padding-mobile: 16px;
$padding-desktop: 108px;